*{
    font-size: 8pt;
    font-family: sans-serif;
    margin:0;
    padding:0;
}

.a4-page{
    width: 210mm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.etikett{
    position: relative;
    height:35mm;
    width:70mm;
}

.etikett-qr{
    margin-right: 4mm;
    margin-top: 2.5mm;
    position: absolute;
    top:0;
    right:0;
}

.qr-info{
    margin-left: 4mm;
    margin-top: 2.5mm;
    display: inline-block;
    word-wrap: break-word;
    width: 24mm;
}

.selectionBtn{
    display:inline-block;
}

@media print {
    @page{
        size:  auto;
        margin: 0mm;
        size:A4 portrait;
        margin-top:8.5mm;
        margin-bottom: 8.5mm;
    }
    body{
        
        
    }
    .selectionBtn{
        display:none;
    }
    }